In [1]:
import pandas as pd
df=pd.read_csv("/home/deeptanshu/Desktop/project1/zuco_out/preprocessed/bandpower_stats.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9289 entries, 0 to 9288
Columns: 1894 entries, id to f1889
dtypes: float64(1890), object(4)
memory usage: 134.2+ MB

In [2]:
df.describe()

,f0,f1,f2,f3,f4,f5,f6,f7,f8,f9,...,f1880,f1881,f1882,f1883,f1884,f1885,f1886,f1887,f1888,f1889
count,9289.0,9289.0,9289.000000,9289.000000,9289.000000,9289.000000,9289.000000,9289.000000,9289.000000,9289.000000,...,1162.0,1162.0,1162.0,1162.0,1162.0,0.0,1162.0,1162.0,0.0,0.0
mean,0.0,0.0,0.198268,0.148424,0.128311,0.099198,0.183453,0.139409,0.145288,0.106406,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
std,0.0,0.0,0.073063,0.045368,0.082292,0.053307,0.101357,0.081335,0.128574,0.082207,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
min,0.0,0.0,0.069810,0.084673,0.031609,0.019381,0.058589,0.058665,0.000002,0.000002,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
25%,0.0,0.0,0.134512,0.085623,0.089921,0.081317,0.078967,0.071063,0.047484,0.035965,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
50%,0.0,0.0,0.202255,0.146345,0.107361,0.109064,0.174952,0.122802,0.160117,0.119584,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
75%,0.0,0.0,0.238674,0.157822,0.140870,0.119104,0.241284,0.147946,0.243971,0.181249,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
max,0.0,0.0,0.307370,0.221529,0.318390,0.202671,0.339272,0.314699,0.413681,0.253653,...,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN

In [1]:
import pandas as pd
df = pd.read_csv("zuco_out/preprocessed/features_pca_reduced.csv")
print(df.head())
print(df.columns)

                   id     subject condition      text    pc_1      pc_2  \
0  resultsYFS_NR__01l  resultsYFS        NR  appeared  6.9299  0.101317
1   resultsYFS_NR__04  resultsYFS        NR   Island.  6.9299  0.101317
2  resultsYFS_NR__04z  resultsYFS        NR        he  6.9299  0.101317
3  resultsYFS_NR__06q  resultsYFS        NR      work  6.9299  0.101317
4  resultsYFS_NR__09s  resultsYFS        NR       the  6.9299  0.101317

       pc_3      pc_4      pc_5      pc_6      pc_7          pc_8  \
0  0.370799 -0.003746 -1.826983  0.474837 -0.433183 -2.842849e-14
1  0.370799 -0.003746 -1.826983  0.474837 -0.433183 -2.842849e-14
2  0.370799 -0.003746 -1.826983  0.474837 -0.433183 -2.842849e-14
3  0.370799 -0.003746 -1.826983  0.474837 -0.433183 -2.842849e-14
4  0.370799 -0.003746 -1.826983  0.474837 -0.433183 -2.842849e-14

           pc_9         pc_10
0 -1.873992e-14  1.881346e-14
1 -1.873992e-14  1.881346e-14
2 -1.873992e-14  1.881346e-14
3 -1.873992e-14  1.881346e-14
4 -1.873992e-14  1.881346e-14
Index(['id', 'subject', 'condition', 'text', 'pc_1', 'pc_2', 'pc_3', 'pc_4',
       'pc_5', 'pc_6', 'pc_7', 'pc_8', 'pc_9', 'pc_10'],
      dtype='object')

In [3]:
import pandas as pd

df = pd.read_csv("zuco_out/preprocessed/temporal_bandpower.csv")

# number of unique words
n_unique = df["text"].nunique()
print("Unique words:", n_unique)

# show them if needed
unique_words = df["text"].unique()
print(unique_words[:1593])   # show first 20

Unique words: 1593
['appeared' 'Island.' 'he' ... 'course' "Christ's" 'qualify']

In [4]:
import re
import pandas as pd

df = pd.read_csv("zuco_out/preprocessed/temporal_bandpower.csv")

def clean_text(word):
    # remove punctuation and make lowercase
    return re.sub(r"[^\w\s]", "", str(word)).lower()

# Apply cleaning
df["text_clean"] = df["text"].apply(clean_text)

# Count unique
n_unique = df["text_clean"].nunique()
print("Unique cleaned words:", n_unique)

# Show some examples
print(df["text"].head(10))
print(df["text_clean"].head(10))

Unique cleaned words: 1402
0    appeared
1     Island.
2          he
3        work
4         the
5           a
6         for
7    Britain.
8        from
9     Skipton
Name: text, dtype: object
0    appeared
1      island
2          he
3        work
4         the
5           a
6         for
7     britain
8        from
9     skipton
Name: text_clean, dtype: object

In [3]:
import pandas as pd
df = pd.read_csv("zuco_out/preprocessed/dataset_preprocessed.csv")
df.head()

,id,subject,condition,text,temporal_clean,mask,spatial_norm,spatial_feat
0,resultsYFS_NR__01l,resultsYFS,NR,appeared,zuco_out/preprocessed/resultsYFS_NR__01l_tempo...,zuco_out/preprocessed/resultsYFS_NR__01l_mask.npy,zuco_out/preprocessed/resultsYFS_NR__01l_spati...,zuco_out/preprocessed/resultsYFS_NR__01l_spati...
1,resultsYFS_NR__04,resultsYFS,NR,Island.,zuco_out/preprocessed/resultsYFS_NR__04_tempor...,zuco_out/preprocessed/resultsYFS_NR__04_mask.npy,zuco_out/preprocessed/resultsYFS_NR__04_spatia...,zuco_out/preprocessed/resultsYFS_NR__04_spatia...
2,resultsYFS_NR__04z,resultsYFS,NR,he,zuco_out/preprocessed/resultsYFS_NR__04z_tempo...,zuco_out/preprocessed/resultsYFS_NR__04z_mask.npy,zuco_out/preprocessed/resultsYFS_NR__04z_spati...,zuco_out/preprocessed/resultsYFS_NR__04z_spati...
3,resultsYFS_NR__06q,resultsYFS,NR,work,zuco_out/preprocessed/resultsYFS_NR__06q_tempo...,zuco_out/preprocessed/resultsYFS_NR__06q_mask.npy,zuco_out/preprocessed/resultsYFS_NR__06q_spati...,zuco_out/preprocessed/resultsYFS_NR__06q_spati...
4,resultsYFS_NR__09s,resultsYFS,NR,the,zuco_out/preprocessed/resultsYFS_NR__09s_tempo...,zuco_out/preprocessed/resultsYFS_NR__09s_mask.npy,zuco_out/preprocessed/resultsYFS_NR__09s_spati...,zuco_out/preprocessed/resultsYFS_NR__09s_spati...

In [2]:
import h5py

file_path = "NR_files/resultsYAC_NR.mat"   # pick one file
f = h5py.File(file_path, "r")

# list top-level keys
print("Keys:", list(f.keys()))

Keys: ['#refs#', 'sentenceData']

In [3]:
trial = f['sentenceData']   # example key, ZuCo stores per-sentence data here
print("Keys in sentenceData:", list(trial.keys()))

# pick first sentence
first_key = list(trial.keys())[0]
first = trial[first_key]

print(first_key,first)

Keys in sentenceData: ['allFixations', 'content', 'mean_a1', 'mean_a1_diff', 'mean_a2', 'mean_a2_diff', 'mean_b1', 'mean_b1_diff', 'mean_b2', 'mean_b2_diff', 'mean_g1', 'mean_g1_diff', 'mean_g2', 'mean_g2_diff', 'mean_t1', 'mean_t1_diff', 'mean_t2', 'mean_t2_diff', 'omissionRate', 'rawData', 'word', 'wordbounds']
allFixations <HDF5 dataset "allFixations": shape (349, 1), type "|O">

In [7]:
words = trial['word'][:]
first_sentence_words = words[0]
print(first_sentence_words)

[<HDF5 object reference>]